**Load Dataset**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd 
dataset=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/bbc_news.csv')
dataset = dataset.dropna(how="any", axis=1)
dataset.head()

,title,pubDate,guid,link,description
0,Ukraine: Angry Zelensky vows to punish Russian...,"Mon, 07 Mar 2022 08:01:56 GMT",https://www.bbc.co.uk/news/world-europe-60638042,https://www.bbc.co.uk/news/world-europe-606380...,The Ukrainian president says the country will ...
1,War in Ukraine: Taking cover in a town under a...,"Sun, 06 Mar 2022 22:49:58 GMT",https://www.bbc.co.uk/news/world-europe-60641873,https://www.bbc.co.uk/news/world-europe-606418...,"Jeremy Bowen was on the frontline in Irpin, as..."
2,Ukraine war 'catastrophic for global food',"Mon, 07 Mar 2022 00:14:42 GMT",https://www.bbc.co.uk/news/business-60623941,https://www.bbc.co.uk/news/business-60623941?a...,One of the world's biggest fertiliser firms sa...
3,Manchester Arena bombing: Saffie Roussos's par...,"Mon, 07 Mar 2022 00:05:40 GMT",https://www.bbc.co.uk/news/uk-60579079,https://www.bbc.co.uk/news/uk-60579079?at_medi...,The parents of the Manchester Arena bombing's ...
4,Ukraine conflict: Oil price soars to highest l...,"Mon, 07 Mar 2022 08:15:53 GMT",https://www.bbc.co.uk/news/business-60642786,https://www.bbc.co.uk/news/business-60642786?a...,Consumers are feeling the impact of higher ene...

In [3]:
dataset = dataset.rename(columns={'title': 'target', 'description': 'message'})

dataset.head()

,target,pubDate,guid,link,message
0,Ukraine: Angry Zelensky vows to punish Russian...,"Mon, 07 Mar 2022 08:01:56 GMT",https://www.bbc.co.uk/news/world-europe-60638042,https://www.bbc.co.uk/news/world-europe-606380...,The Ukrainian president says the country will ...
1,War in Ukraine: Taking cover in a town under a...,"Sun, 06 Mar 2022 22:49:58 GMT",https://www.bbc.co.uk/news/world-europe-60641873,https://www.bbc.co.uk/news/world-europe-606418...,"Jeremy Bowen was on the frontline in Irpin, as..."
2,Ukraine war 'catastrophic for global food',"Mon, 07 Mar 2022 00:14:42 GMT",https://www.bbc.co.uk/news/business-60623941,https://www.bbc.co.uk/news/business-60623941?a...,One of the world's biggest fertiliser firms sa...
3,Manchester Arena bombing: Saffie Roussos's par...,"Mon, 07 Mar 2022 00:05:40 GMT",https://www.bbc.co.uk/news/uk-60579079,https://www.bbc.co.uk/news/uk-60579079?at_medi...,The parents of the Manchester Arena bombing's ...
4,Ukraine conflict: Oil price soars to highest l...,"Mon, 07 Mar 2022 08:15:53 GMT",https://www.bbc.co.uk/news/business-60642786,https://www.bbc.co.uk/news/business-60642786?a...,Consumers are feeling the impact of higher ene...

In [4]:

columns = ['target','message']
dataset = pd.DataFrame(dataset, columns=columns)

In [5]:
dataset.head()

,target,message
0,Ukraine: Angry Zelensky vows to punish Russian...,The Ukrainian president says the country will ...
1,War in Ukraine: Taking cover in a town under a...,"Jeremy Bowen was on the frontline in Irpin, as..."
2,Ukraine war 'catastrophic for global food',One of the world's biggest fertiliser firms sa...
3,Manchester Arena bombing: Saffie Roussos's par...,The parents of the Manchester Arena bombing's ...
4,Ukraine conflict: Oil price soars to highest l...,Consumers are feeling the impact of higher ene...

In [6]:
dataset['message_len'] = dataset['message'].apply(lambda x: len(x.split(' ')))
dataset.head()

,target,message,message_len
0,Ukraine: Angry Zelensky vows to punish Russian...,The Ukrainian president says the country will ...,16
1,War in Ukraine: Taking cover in a town under a...,"Jeremy Bowen was on the frontline in Irpin, as...",18
2,Ukraine war 'catastrophic for global food',One of the world's biggest fertiliser firms sa...,17
3,Manchester Arena bombing: Saffie Roussos's par...,The parents of the Manchester Arena bombing's ...,16
4,Ukraine conflict: Oil price soars to highest l...,Consumers are feeling the impact of higher ene...,16

In [7]:
max(dataset['message_len'])

34

**Exploratory Data**

In [8]:
balance_counts = dataset.groupby('target')['target'].agg('count').values
balance_counts

array([1, 1, 1, ..., 1, 1, 1])

**Data Pre-processing**

Case Folding

In [9]:
import re 
def clean_text(text):
    '''Make text lowercase, remove text in square brackets,remove links,remove punctuation
    and remove words containing numbers.'''
    text = str(text).lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

In [10]:
dataset['message_clean'] = dataset['message'].apply(clean_text)
dataset.head()

,target,message,message_len,message_clean
0,Ukraine: Angry Zelensky vows to punish Russian...,The Ukrainian president says the country will ...,16,the ukrainian president says the country will ...
1,War in Ukraine: Taking cover in a town under a...,"Jeremy Bowen was on the frontline in Irpin, as...",18,"jeremy bowen was on the frontline in irpin, as..."
2,Ukraine war 'catastrophic for global food',One of the world's biggest fertiliser firms sa...,17,one of the world's biggest fertiliser firms sa...
3,Manchester Arena bombing: Saffie Roussos's par...,The parents of the Manchester Arena bombing's ...,16,the parents of the manchester arena bombing's ...
4,Ukraine conflict: Oil price soars to highest l...,Consumers are feeling the impact of higher ene...,16,consumers are feeling the impact of higher ene...

Tokenisasi

In [11]:
def tokenize(message_clean):
    token = nltk.word_tokenize(message_clean)
    return token

In [12]:

import nltk
nltk.download('punkt')
dataset['tokenized'] = dataset['message_clean'].apply(tokenize)

print('Tokenizing Result : \n') 
print(dataset['tokenized'].head())
print('\n\n\n')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

Tokenizing Result :

0    [the, ukrainian, president, says, the, country...
1    [jeremy, bowen, was, on, the, frontline, in, i...
2    [one, of, the, world, 's, biggest, fertiliser,...
3    [the, parents, of, the, manchester, arena, bom...
4    [consumers, are, feeling, the, impact, of, hig...
Name: tokenized, dtype: object

Stopwords

In [13]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

def remove_stop_words(message_clean):
    removed_stop_words = []
    for review in message_clean:
        removed_stop_words.append(
            ' '.join([word for word in review.split() 
                      if word not in stop_words])
        )
    return removed_stop_words

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [14]:
dataset['stopwords_removed'] = dataset['tokenized'].apply(remove_stop_words)

print('Stopwords Result : \n') 
print(dataset['stopwords_removed'].head())
print('\n\n\n')

Stopwords Result :

0    [, ukrainian, president, says, , country, , , ...
1    [jeremy, bowen, , , , frontline, , irpin, ,, ,...
2    [one, , , world, 's, biggest, fertiliser, firm...
3    [, parents, , , manchester, arena, bombing, 's...
4    [consumers, , feeling, , impact, , higher, ene...
Name: stopwords_removed, dtype: object

Stemming

In [15]:
dataset['stemming_removed'] = dataset['stopwords_removed'].apply(remove_stop_words)

print('Stemming Result : \n') 
print(dataset['stopwords_removed'].head())
print('\n\n\n')

Stemming Result :

0    [, ukrainian, president, says, , country, , , ...
1    [jeremy, bowen, , , , frontline, , irpin, ,, ,...
2    [one, , , world, 's, biggest, fertiliser, firm...
3    [, parents, , , manchester, arena, bombing, 's...
4    [consumers, , feeling, , impact, , higher, ene...
Name: stopwords_removed, dtype: object

vectorization

In [20]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(dataset['target'])

dataset['target_encoded'] = le.transform(dataset['target'])
dataset.head()

,target,message,message_len,message_clean,tokenized,stopwords_removed,stemming_removed,target_encoded
0,Ukraine: Angry Zelensky vows to punish Russian...,The Ukrainian president says the country will ...,16,the ukrainian president says the country will ...,"[the, ukrainian, president, says, the, country...","[, ukrainian, president, says, , country, , , ...","[, ukrainian, president, says, , country, , , ...",976
1,War in Ukraine: Taking cover in a town under a...,"Jeremy Bowen was on the frontline in Irpin, as...",18,"jeremy bowen was on the frontline in irpin, as...","[jeremy, bowen, was, on, the, frontline, in, i...","[jeremy, bowen, , , , frontline, , irpin, ,, ,...","[jeremy, bowen, , , , frontline, , irpin, ,, ,...",1063
2,Ukraine war 'catastrophic for global food',One of the world's biggest fertiliser firms sa...,17,one of the world's biggest fertiliser firms sa...,"[one, of, the, world, 's, biggest, fertiliser,...","[one, , , world, 's, biggest, fertiliser, firm...","[one, , , world, 's, biggest, fertiliser, firm...",875
3,Manchester Arena bombing: Saffie Roussos's par...,The parents of the Manchester Arena bombing's ...,16,the parents of the manchester arena bombing's ...,"[the, parents, of, the, manchester, arena, bom...","[, parents, , , manchester, arena, bombing, 's...","[, parents, , , manchester, arena, bombing, 's...",480
4,Ukraine conflict: Oil price soars to highest l...,Consumers are feeling the impact of higher ene...,16,consumers are feeling the impact of higher ene...,"[consumers, are, feeling, the, impact, of, hig...","[consumers, , feeling, , impact, , higher, ene...","[consumers, , feeling, , impact, , higher, ene...",845

In [21]:
# how to define X and y (from the SMS data) for use with COUNTVECTORIZER
x = dataset['message_clean']
y = dataset['target_encoded']

print(len(x), len(y))

1234 1234

In [22]:
# Split into train and test sets
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=42)
print(len(x_train), len(y_train))
print(len(x_test), len(y_test))

925 925
309 309

In [23]:
from sklearn.feature_extraction.text import CountVectorizer

# instantiate the vectorizer
vect = CountVectorizer()
vect.fit(x_train)

CountVectorizer()

In [24]:
# Use the trained to create a document-term matrix from train and test sets
x_train_dtm = vect.transform(x_train)
x_test_dtm = vect.transform(x_test)

Word Embeding : GlOVE

In [25]:
texts = dataset['message_clean']
target = dataset['target_encoded']

In [26]:
# Calculate the length of our vocabulary
from keras.preprocessing.text import Tokenizer
word_tokenizer = Tokenizer()
word_tokenizer.fit_on_texts(texts)

vocab_length = len(word_tokenizer.word_index) + 1
vocab_length

4997

In [27]:
!wget http://nlp.stanford.edu/data/glove.6B.zip
!unzip glove*.zip

--2022-06-16 06:48:10--  http://nlp.stanford.edu/data/glove.6B.zip
Resolving nlp.stanford.edu (nlp.stanford.edu)... 171.64.67.140
Connecting to nlp.stanford.edu (nlp.stanford.edu)|171.64.67.140|:80... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://nlp.stanford.edu/data/glove.6B.zip [following]
--2022-06-16 06:48:10--  https://nlp.stanford.edu/data/glove.6B.zip
Connecting to nlp.stanford.edu (nlp.stanford.edu)|171.64.67.140|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: http://downloads.cs.stanford.edu/nlp/data/glove.6B.zip [following]
--2022-06-16 06:48:11--  http://downloads.cs.stanford.edu/nlp/data/glove.6B.zip
Resolving downloads.cs.stanford.edu (downloads.cs.stanford.edu)... 171.64.64.22
Connecting to downloads.cs.stanford.edu (downloads.cs.stanford.edu)|171.64.64.22|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 862182613 (822M) [application/zip]
Saving to: glove.6B.zip

glove.6B.zip        100%[===================>] 822.24M  3.48MB/s    in 3m 44s

2022-06-16 06:51:55 (3.67 MB/s) - glove.6B.zip saved [862182613/862182613]

Archive:  glove.6B.zip
  inflating: glove.6B.50d.txt
  inflating: glove.6B.100d.txt
  inflating: glove.6B.200d.txt
  inflating: glove.6B.300d.txt

In [29]:
import numpy as np 
embeddings_dictionary = dict()
embedding_dim = 100

# Load GloVe 100D embeddings
with open('/content/glove.6B.100d.txt') as fp:
    for line in fp.readlines():
        records = line.split()
        word = records[0]
        vector_dimensions = np.asarray(records[1:], dtype='float32')
        embeddings_dictionary [word] = vector_dimensions

# embeddings_dictionary

In [30]:
embedding_matrix = np.zeros((vocab_length, embedding_dim))

for word, index in word_tokenizer.word_index.items():
    embedding_vector = embeddings_dictionary.get(word)
    if embedding_vector is not None:
        embedding_matrix[index] = embedding_vector
        
embedding_matrix

array([[ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.038194  , -0.24487001,  0.72812003, ..., -0.1459    ,
         0.82779998,  0.27061999],
       [-0.18970001,  0.050024  ,  0.19084001, ..., -0.39804   ,
         0.47646999, -0.15983   ],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.42794999, -0.17565   , -0.52432001, ...,  0.66737998,
         0.24405   ,  0.12504999],
       [ 0.39230999, -0.21544001,  0.10567   , ...,  0.043646  ,
         0.093244  , -0.47871   ]])

TF-IDF

In [31]:
def calc_TF(message_clean):
    # Counts the number of times the word appears in review
    TF_dict = {}
    for term in message_clean:
        if term in TF_dict:
            TF_dict[term] += 1
        else:
            TF_dict[term] = 1
    # Computes tf for each word
    for term in TF_dict:
        TF_dict[term] = TF_dict[term] / len(target)
    return TF_dict

dataset["embeddings_dictionary"] = dataset['stemming_removed'].apply(calc_TF)

dataset["embeddings_dictionary"].head()

0    {'': 0.006482982171799027, 'ukrainian': 0.0008...
1    {'jeremy': 0.0008103727714748784, 'bowen': 0.0...
2    {'one': 0.0008103727714748784, '': 0.004051863...
3    {'': 0.004862236628849271, 'parents': 0.000810...
4    {'consumers': 0.0008103727714748784, '': 0.004...
Name: embeddings_dictionary, dtype: object

In [32]:
index = 2

print('%20s' % "term", "\t", "TF\n")
for key in dataset["embeddings_dictionary"][index]:
    print('%20s' % key, "\t", dataset["embeddings_dictionary"][index][key])

                term 	 TF

                 one 	 0.0008103727714748784
                     	 0.004051863857374392
               world 	 0.0008103727714748784
                  's 	 0.0008103727714748784
             biggest 	 0.0008103727714748784
          fertiliser 	 0.0008103727714748784
               firms 	 0.0008103727714748784
                says 	 0.0008103727714748784
            conflict 	 0.0008103727714748784
               could 	 0.0008103727714748784
             deliver 	 0.0008103727714748784
               shock 	 0.0008103727714748784
                food 	 0.0008103727714748784
            supplies 	 0.0008103727714748784
                   . 	 0.0008103727714748784

In [33]:
def calc_DF(tfDict):
    count_DF = {}
    # Run through each document's tf dictionary and increment countDict's (term, doc) pair
    for document in tfDict:
        for term in document:
            if term in count_DF:
                count_DF[term] += 1
            else:
                count_DF[term] = 1
    return count_DF

DF = calc_DF(dataset["embeddings_dictionary"])
DF

{'': 1232,
 'ukrainian': 57,
 'president': 31,
 'says': 125,
 'country': 35,
 'forgive': 1,
 'forget': 2,
 'murder': 4,
 'civilians': 16,
 '.': 1184,
 'jeremy': 3,
 'bowen': 3,
 'frontline': 3,
 'irpin': 5,
 ',': 404,
 'residents': 12,
 'came': 4,
 'russian': 97,
 'fire': 7,
 'trying': 11,
 'flee': 3,
 'one': 45,
 'world': 67,
 "'s": 299,
 'biggest': 10,
 'fertiliser': 1,
 'firms': 7,
 'conflict': 9,
 'could': 34,
 'deliver': 1,
 'shock': 8,
 'food': 10,
 'supplies': 8,
 'parents': 10,
 'manchester': 22,
 'arena': 1,
 'bombing': 6,
 'youngest': 3,
 'victim': 5,
 'speak': 8,
 'life': 14,
 'since': 34,
 'died': 16,
 'consumers': 2,
 'feeling': 3,
 'impact': 7,
 'higher': 6,
 'energy': 17,
 'costs': 8,
 'fuel': 9,
 'prices': 18,
 'household': 4,
 'bills': 13,
 'jump': 2,
 'boris': 16,
 'johnson': 15,
 'meet': 6,
 'canadian': 3,
 'dutch': 3,
 'pms': 4,
 'mps': 6,
 'debate': 2,
 'new': 37,
 'laws': 2,
 'targeting': 5,
 'oligarchs': 2,
 'home': 24,
 'secretary': 5,
 '``': 113,
 'surging': 5,
 'capacity': 1,
 "''": 113,
 '%': 10,
 'applications': 1,
 'granted': 2,
 'tiktok': 1,
 'suspends': 1,
 'live': 4,
 'streaming': 1,
 'content': 3,
 'platform': 4,
 'russians': 8,
 'longer': 5,
 'access': 2,
 'netflix': 5,
 'five': 10,
 'things': 4,
 'need': 13,
 'know': 8,
 'coronavirus': 11,
 'pandemic': 10,
 'monday': 8,
 'morning': 2,
 'people': 62,
 'held': 12,
 'cities': 11,
 'st': 1,
 'petersburg': 1,
 'west': 39,
 'vladivostok': 1,
 'east': 6,
 'million': 15,
 'ukrainians': 11,
 'fled': 9,
 'day': 26,
 'war': 73,
 'gymnast': 3,
 'ivan': 3,
 'kuliak': 3,
 'investigated': 8,
 'wearing': 4,
 'national': 19,
 'symbol': 4,
 'leotard': 3,
 'stood': 3,
 'next': 10,
 'rival': 5,
 'podium': 3,
 'qatar': 10,
 'saturday': 13,
 'polish': 4,
 'couple': 2,
 'messaged': 1,
 'taiwan': 1,
 'come': 8,
 'refugee': 6,
 '-': 78,
 'welcome': 3,
 'przemysl': 1,
 'ukraine': 160,
 'cabinet': 1,
 'minister': 7,
 '-year-old': 20,
 'mykhailo': 1,
 'fedorov': 1,
 'leading': 3,
 'cyber-battle': 1,
 'russia': 103,
 'within': 7,
 'hours': 2,
 '': 12,
 'invasion': 30,
 'volunteers': 10,
 'offered': 5,
 'services': 2,
 'several': 8,
 'us': 36,
 'presidents': 1,
 'failed': 4,
 'get': 15,
 'measure': 2,
 'europe': 5,
 'joined': 3,
 'fray': 1,
 'may': 27,
 'change': 11,
 'maxim': 1,
 'city': 38,
 'resident': 1,
 'tells': 12,
 'bbc': 62,
 'happened': 2,
 'first': 56,
 'ceasefire': 3,
 'collapsed': 1,
 'conspiracy': 1,
 'theories': 1,
 'trolls': 1,
 'adding': 1,
 'chaos': 1,
 'agreement': 1,
 'southern': 4,
 'mariupol': 20,
 'breaks': 1,
 'second': 21,
 'time': 26,
 'sides': 1,
 'blaming': 1,
 'everyday': 2,
 'items': 2,
 'go': 12,
 'cost': 10,
 'living': 24,
 'already': 6,
 'rising': 19,
 'families': 7,
 'adapt': 2,
 'tell': 7,
 'children': 22,
 '?': 44,
 'video': 14,
 'shared': 3,
 'armed': 3,
 'forces': 24,
 'shows': 9,
 'helicopter': 1,
 'hit': 16,
 'missile': 3,
 'shifting': 1,
 'european': 6,
 'history': 8,
 'tectonic': 1,
 'plates': 1,
 'really': 3,
 'unexpected': 1,
 'explains': 3,
 'kevin': 3,
 'connolly': 1,
 'global': 12,
 'backlash': 1,
 'invaded': 4,
 'feel': 2,
 'shunned': 1,
 'say': 46,
 'relatives': 1,
 'trust': 4,
 'narratives': 1,
 'see': 9,
 'tv': 8,
 'seizes': 1,
 'two': 39,
 'nuclear': 5,
 'plant': 3,
 'sites': 3,
 'experts': 12,
 'weigh': 1,
 'risk': 7,
 'large': 3,
 'strategic': 1,
 'historical': 1,
 'reasons': 3,
 'offensive': 2,
 'vital': 1,
 'civilian': 2,
 'attempts': 4,
 'targeted': 5,
 'lead': 14,
 'papers': 15,
 'lesya': 2,
 'valeri': 2,
 'civil': 3,
 'defence': 8,
 'tied': 3,
 'knot': 2,
 'checkpoint': 1,
 'near': 11,
 'kyiv': 24,
 'ngo': 1,
 'herosi': 1,
 'find': 19,
 'places': 3,
 'patients': 3,
 'medical': 7,
 'care': 6,
 'across': 14,
 'mother': 7,
 'whose': 2,
 'son': 6,
 'heart': 2,
 'disease': 5,
 'urges': 2,
 'signs': 4,
 'instincts': 1,
 'lynette': 1,
 'lee': 4,
 'survived': 2,
 'zeebrugge': 1,
 'ferry': 5,
 'disaster': 3,
 'years': 36,
 'ago': 9,
 'killed': 8,
 'student': 5,
 'queen': 6,
 'university': 1,
 'belfast': 4,
 'used': 18,
 'daily': 3,
 'walks': 1,
 'record': 10,
 'sounds': 1,
 'covid': 25,
 'lockdowns': 1,
 'five-year-old': 2,
 'isla': 1,
 'child': 6,
 'rare': 3,
 'condition': 7,
 'moment': 7,
 'man': 16,
 'swims': 1,
 'path': 1,
 'container': 1,
 'ship': 4,
 'southampton': 3,
 'captured': 3,
 'phone': 2,
 'correspondents': 2,
 'answer': 4,
 'questions': 10,
 'readers': 4,
 'news': 5,
 'website': 1,
 'ad-testing': 1,
 'using': 8,
 'real-time': 1,
 'software': 1,
 'webcams': 1,
 'ads': 1,
 'resonate': 1,
 'customers': 3,
 'ground': 5,
 'penetrating': 1,
 'radar': 1,
 'give': 4,
 'clearer': 1,
 'picture': 5,
 'story': 2,
 'trimontium': 1,
 'borders': 2,
 'putin': 21,
 'warned': 1,
 'richest': 2,
 'protect': 4,
 'sanctions': 21,
 'answers': 5,
 'resistance': 4,
 'big': 11,
 'guns': 1,
 'sieges': 1,
 'pray': 1,
 'happen': 4,
 'writes': 4,
 'award-winning': 2,
 'director': 6,
 'championing': 1,
 'women': 47,
 'hollywood': 4,
 'break': 5,
 'away': 12,
 'screen': 1,
 'week': 17,
 'editor': 1,
 'empty': 1,
 'shelves': 1,
 'increasing': 3,
 'reality': 2,
 'devastating': 2,
 'attack': 11,
 'leaves': 4,
 'countries': 9,
 'region': 3,
 'worried': 3,
 'future': 9,
 'writers': 1,
 'welsh': 2,
 'appearance': 2,
 'match': 12,
 'accepted': 1,
 'aesthetic': 1,
 'welshness': 1,
 'changing': 1,
 'family': 27,
 'structures': 2,
 'highlighted': 1,
 'young': 16,
 'struggling': 5,
 'childcare': 1,
 'united': 13,
 'legends': 1,
 'savage': 1,
 'club': 13,
 'performance': 7,
 'derby': 1,
 'defeat': 11,
 'england': 73,
 'seam': 1,
 'bowler': 3,
 'ollie': 1,
 'robinson': 2,
 'ruled': 2,
 'test': 17,
 'indies': 19,
 'back': 22,
 'injury': 5,
 'candidate': 1,
 'manager': 12,
 'season': 10,
 'play': 11,
 'best': 9,
 'garth': 2,
 'crooks': 2,
 "'": 30,
 'latest': 6,
 'team': 13,
 'joe': 9,
 'perry': 3,
 'beats': 2,
 'judd': 1,
 'trump': 1,
 'win': 25,
 'open': 12,
 'title': 11,
 'celtic': 2,
 'manor': 1,
 'resort': 2,
 'newport': 1,
 'britain': 6,
 'menna': 2,
 'fitzpatrick': 2,
 'neil': 2,
 'simpson': 1,
 'medals': 2,
 'beijing': 1,
 'winter': 2,
 'paralympics': 1,
 'super': 6,
 'combined': 1,
 'bronze': 1,
 'pundit': 3,
 'danny': 3,
 'murphy': 3,
 'feels': 3,
 'played': 6,
 'like': 9,
 'point': 5,
 'prove': 1,
 'second-half': 3,
 'emphatic': 1,
 'statement': 6,
 'anyone': 1,
 'doubted': 1,
 'explore': 8,
 'data': 9,
 'uk': 69,
 'many': 30,
 'cases': 13,
 'area': 15,
 'legal': 3,
 'restrictions': 6,
 'ended': 3,
 'wales': 22,
 'scotland': 15,
 'also': 12,
 'removing': 1,
 'rules': 11,
 'moving': 4,
 'phase': 1,
 'virus': 4,
 'still': 14,
 'needs': 2,
 'watched': 4,
 'closely': 5,
 'workers': 9,
 'wo': 2,
 "n't": 9,
 'vaccinated': 2,
 'fourth': 6,
 'jab': 1,
 'around': 17,
 'face': 15,
 'coverings': 2,
 'easing': 2,
 'required': 4,
 'settings': 1,
 'expect': 3,
 'extra': 8,
 'help': 24,
 'key': 6,
 'maps': 1,
 'charts': 2,
 'explaining': 1,
 'spread': 4,
 'legally': 2,
 'self-isolate': 1,
 'although': 1,
 'recommended': 1,
 'government': 28,
 'scrapping': 1,
 'free': 6,
 'tests': 8,
 'friday': 7,
 'fully': 2,
 'travelling': 2,
 'take': 16,
 'announced': 5,
 'end': 10,
 'seven': 12,
 'crew': 7,
 'members': 6,
 'rescued': 1,
 'peterhead-registered': 3,
 'njord': 3,
 'got': 7,
 'difficulty': 3,
 'north': 8,
 'sea': 2,
 'irish': 6,
 'woman': 18,
 'among': 11,
 'hundreds': 6,
 'international': 10,
 'students': 4,
 'taking': 8,
 'cover': 2,
 'sumy': 6,
 'posing': 1,
 'photo': 3,
 'shooting': 3,
 'star': 11,
 'shot': 7,
 'background': 1,
 'three': 23,
 'airlifted': 3,
 'hospital': 15,
 'check-point': 1,
 'investors': 4,
 'fear': 6,
 'economic': 8,
 'considers': 1,
 'ban': 9,
 'buying': 1,
 'policy': 4,
 'comes': 9,
 'scrutiny': 3,
 'thai': 3,
 'police': 16,
 'sign': 9,
 'foul': 3,
 'cricketer': 3,
 'death': 8,
 'holiday': 4,
 'koh': 3,
 'samui': 3,
 'troy': 1,
 'deeney': 1,
 'analyse': 1,
 'combination': 1,
 'phil': 3,
 'foden': 1,
 'de': 3,
 'bruyne': 1,
 'helped': 7,
 'beat': 18,
 'suzie': 2,
 'bates': 2,
 'hits': 3,
 'zealand': 4,
 'nine-wicket': 1,
 'victory': 17,
 'bangladesh': 1,
 'cup': 44,
 'petrol': 2,
 'causing': 5,
 'pain': 5,
 'households': 5,
 'found': 14,
 'keel': 2,
 'boat': 2,
 'central': 4,
 'train': 6,
 'station': 4,
 'lviv': 5,
 'thousands': 16,
 'arrive': 3,
 'fleeing': 13,
 'bombed': 6,
 'eu': 6,
 'four': 18,
 'try': 10,
 'escape': 7,
 'making': 6,
 'attempt': 3,
 'leave': 12,
 'amid': 15,
 'attacks': 13,
 'girikumar': 1,
 'patil': 1,
 'bought': 1,
 'cats': 1,
 'said': 8,
 'without': 3,
 'pets': 2,
 'vivianne': 1,
 'miedema': 1,
 'becomes': 2,
 'player': 4,
 'reach': 10,
 'league': 34,
 'goal': 2,
 'contributions': 1,
 'leaders': 8,
 'arsenal': 9,
 'late': 6,
 'birmingham': 2,
 'charge': 2,
 'meadow': 1,
 'park': 3,
 'returns': 6,
 'in-person': 2,
 'meetings': 2,
 'appears': 5,
 'subtle': 2,
 'show': 14,
 'support': 14,
 'actress': 2,
 'nurse': 2,
 'gladys': 2,
 'emmanuel': 2,
 'opposite': 1,
 'ronnie': 1,
 'barker': 1,
 'sir': 8,
 'david': 7,
 'jason': 2,
 'sitcom': 2,
 'pop': 2,
 'singer': 5,
 'accused': 8,
 'songwriters': 2,
 'copying': 2,
 'parts': 4,
 'shape': 3,
 'grime': 2,
 'artist': 3,
 'guilty': 2,
 'assaulting': 3,
 'former': 16,
 'partner': 3,
 'london': 18,
 'last': 16,
 'year': 24,
 'calls': 11,
 'flown': 1,
 'sailed': 1,
 'peterhead': 1,
 'arrested': 5,
 'suspicion': 3,
 'dangerous': 1,
 'dogs': 1,
 'offence': 2,
 'three-month-old': 1,
 'dies': 1,
 'even': 4,
 'mild': 2,
 'infection': 1,
 'overall': 3,
 'size': 3,
 'brain': 3,
 'shrunk': 1,
 'researchers': 4,
 'inquest': 1,
 'corrie': 1,
 'mckeague': 1,
 'vanished': 1,
 'night': 5,
 'suffolk': 1,
 'offer': 3,
 'evacuation': 1,
 'route': 1,
 'territory': 2,
 'belarus': 1,
 'un': 7,
 'crime': 3,
 'bill': 2,
 'tackle': 2,
 'money': 6,
 'little': 3,
 'decision': 7,
 'declare': 1,
 'prop': 1,
 'tomas': 2,
 'francis': 1,
 'fit': 1,
 'france': 15,
 'six': 21,
 'nations': 20,
 'cardiff': 2,
 'described': 5,
 'grave': 1,
 'mistake': 1,
 'iain': 1,
 'henderson': 1,
 'ireland': 13,
 'squad': 4,
 'game': 6,
 'jordan': 1,
 'larmour': 1,
 'miss': 5,
 'rest': 6,
 'tournament': 5,
 'jonny': 2,
 'gray': 1,
 'adam': 1,
 'hastings': 1,
 'others': 3,
 'join': 9,
 'meeting': 6,
 'italy': 3,
 'rome': 1,
 'captain': 5,
 'viv': 1,
 'richards': 1,
 'greatest': 2,
 'batters': 1,
 'speaks': 8,
 'sport': 12,
 'birthday': 1,
 'silent': 1,
 'weeping': 1,
 'stream': 1,
 'backpacks': 1,
 'outpace': 1,
 'shells': 1,
 'via': 2,
 'link': 2,
 'british': 13,
 'politicians': 5,
 'tuesday': 7,
 'appeared': 2,
 'outside': 8,
 'eastenders': 2,
 'generous': 1,
 'facing': 5,
 'drink': 2,
 'giants': 3,
 'criticised': 3,
 'social': 14,
 'media': 10,
 'failing': 5,
 'meanwhile': 1,
 'german': 1,
 'chancellor': 12,
 'alternative': 1,
 'dead': 3,
 'tornadoes': 1,
 'packing': 1,
 'winds': 1,
 'mph': 1,
 '(': 2,
 ')': 2,
 'tore': 1,
 'iowa': 1,
 'bombarding': 1,
 'despite': 11,
 'offering': 6,
 'routes': 1,
 'guide': 3,
 'z': 1,
 'fast': 3,
 'becoming': 4,
 'seen': 2,
 'staunchly': 1,
 'pro-war': 1,
 'mean': 5,
 'power': 8,
 'seized': 3,
 'left': 12,
 'visa': 4,
 'least': 7,
 'another': 10,
 'misha': 1,
 'simply': 1,
 'no-one': 1,
 'calais': 1,
 'rita': 1,
 'trapped': 5,
 'spending': 1,
 'basement': 4,
 "'ve": 4,
 'finally': 2,
 'reunited': 1,
 'husband': 3,
 'father': 4,
 'andy': 3,
 'zelensky': 4,
 'character': 3,
 'unlikely': 4,
 'airing': 1,
 'red': 13,
 'bull': 4,
 'principal': 1,
 'christian': 2,
 'horner': 1,
 'accuses': 3,
 'rivals': 4,
 'mercedes': 2,
 'bullying': 1,
 'behaviour': 2,
 'resulting': 1,
 'removal': 1,
 'race': 4,
 'michael': 8,
 'masi': 1,
 'players': 7,
 'increasingly': 3,
 'concerned': 1,
 'managerial': 1,
 'void': 1,
 'old': 9,
 'trafford': 3,
 'continues': 7,
 'unravel': 1,
 'louis': 2,
 'lynagh': 1,
 'withdraws': 2,
 'following': 5,
 'positive': 2,
 'covid-': 2,
 'top': 9,
 'official': 5,
 'close': 9,
 'gas': 14,
 'lines': 3,
 'germany': 3,
 'halts': 2,
 'oil': 14,
 'imports': 5,
 'increase': 4,
 'previously': 2,
 'processed': 1,
 'tighter': 1,
 'squeeze': 2,
 'standards': 3,
 'spring': 8,
 'think': 4,
 'tank': 1,
 'buyer': 1,
 'ailing': 1,
 'supplier': 2,
 'taxpayer': 1,
 'keep': 12,
 'funding': 2,
 'largest': 3,
 'rainforest': 1,
 'losing': 3,
 'ability': 1,
 'bounce': 2,
 'human': 3,
 'impacts': 1,
 'push': 4,
 'millions': 8,
 'closer': 2,
 'starvation': 1,
 'boss': 15,
 'programme': 1,
 'survey': 3,
 'suggests': 4,
 'experienced': 3,
 'unwelcome': 1,
 'touching': 1,
 'public': 6,
 'cdc': 1,
 'reported': 2,
 'side': 14,
 'effects': 1,
 'pfizer': 1,
 'moderna': 1,
 'vaccines': 1,
 'videos': 5,
 'citizens': 2,
 'abroad': 2,
 'protesting': 3,
 'package': 1,
 'financial': 3,
 'includes': 2,
 '$': 2,
 'pledge': 1,
 'fergal': 1,
 'keane': 1,
 'travels': 2,
 'bus': 1,
 'disabled': 2,
 'kharkiv': 9,
 'false': 4,
 'claims': 9,
 'spreading': 2,
 'hoax': 2,
 'actors': 4,
 'involved': 2,
 'staging': 1,
 'events': 4,
 'growing': 8,
 'humanitarian': 2,
 'crisis': 5,
 'soaring': 6,
 'front': 11,
 'pages': 5,
 'alex': 3,
 'house': 8,
 'destroyed': 6,
 'shelling': 7,
 'bandmates': 1,
 'sheltering': 5,
 'studio': 1,
 'designer': 2,
 'fashion': 3,
 'icon': 1,
 'vera': 1,
 'wang': 1,
 'ageism': 1,
 'experience': 2,
 'going': 7,
 'viral': 3,
 'killing': 2,
 'eve': 1,
 'reveals': 5,
 'jumped': 1,
 'chance': 5,
 'pixar': 2,
 'film': 10,
 'turning': 5,
 'valerisssh': 1,
 'posted': 2,
 'online': 9,
 'standing': 3,
 'shelled': 1,
 'buildings': 1,
 'femicide': 1,
 'extreme': 1,
 'form': 4,
 'gender-based': 1,
 'violence': 5,
 'activists': 4,
 'disgruntled': 1,
 'men': 9,
 'resent': 1,
 'feminism': 1,
 'focus': 6,
 'candidates': 1,
 'vying': 1,
 'elaine': 1,
 'horne': 1,
 'donated': 2,
 'kidney': 1,
 'luke': 2,
 'almost': 9,
 'failure': 2,
 'indian': 9,
 'doctors': 6,
 'hope': 4,
 'investment': 4,
 'smart': 1,
 'tech': 2,
 'improve': 2,
 'fragmented': 1,
 'healthcare': 3,
 'sector': 1,
 'radio': 6,
 'today': 1,
 'listeners': 2,
 'share': 3,
 'ideas': 2,
 'ways': 5,
 'play-off': 4,
 'semi-final': 8,
 'scheduled': 2,
 'march': 1,
 'postponed': 1,
 'angel': 1,
 'fc': 4,
 'kicking': 1,
 'debut': 4,
 'nwsl': 1,
 'campaign': 5,
 'month': 5,
 'eni': 1,
 'aluko': 1,
 'la': 2,
 'all-star': 1,
 'backers': 1,
 'number': 14,
 'alexander': 2,
 'zverev': 1,
 'faces': 8,
 'eight-week': 1,
 'tennis': 6,
 'repeats': 1,
 'led': 5,
 'expulsion': 1,
 'mexican': 1,
 'root': 3,
 'admits': 2,
 'thought': 3,
 'long': 8,
 'hard': 3,
 'believes': 2,
 'right': 1,
 'forward': 3,
 'football': 10,
 'visits': 1,
 'champions': 18,
 'chelsea': 24,
 'discover': 1,
 'coach': 4,
 'emma': 3,
 'hayes': 1,
 'changed': 4,
 'past': 17,
 'visas': 1,
 ...}

In [34]:
import numpy as np
n_document = len(dataset)

def calc_IDF(__n_document, __DF):
    IDF_Dict = {}
    for term in __DF:
        IDF_Dict[term] = np.log(__n_document / (__DF[term] + 1))
    return IDF_Dict
  
#Stores the idf dictionary
IDF = calc_IDF(n_document, DF)

In [35]:
#calc TF-IDF
def calc_TF_IDF(TF):
    TF_IDF_Dict = {}
    #For each word in the review, we multiply its tf and its idf.
    for key in TF:
        TF_IDF_Dict[key] = TF[key] * IDF[key]
    return TF_IDF_Dict

#Stores the TF-IDF Series
dataset["TF-IDF_dict"] = dataset["embeddings_dictionary"].apply(calc_TF_IDF)

In [37]:
# Check TF-IDF result
index = 2

print('%20s' % "term", "\t", '%10s' % "TF", "\t", '%20s' % "TF-IDF\n")
for key in dataset["TF-IDF_dict"][index]:
    print('%20s' % key, "\t", dataset["embeddings_dictionary"][index][key] ,"\t" , dataset["TF-IDF_dict"][index][key])
    
TF_IDF = pd.DataFrame(dataset, columns=['term', 'rank'])

                term 	         TF 	              TF-IDF

                 one 	 0.0008103727714748784 	 0.00266561977955935
                     	 0.004051863857374392 	 3.2848513006031654e-06
               world 	 0.0008103727714748784 	 0.002348872365712501
                  's 	 0.0008103727714748784 	 0.0011460565071386808
             biggest 	 0.0008103727714748784 	 0.003825057481091542
          fertiliser 	 0.0008103727714748784 	 0.005206538917265306
               firms 	 0.0008103727714748784 	 0.004083123713764584
                says 	 0.0008103727714748784 	 0.0018490553464455876
            conflict 	 0.0008103727714748784 	 0.0039022942556493413
               could 	 0.0008103727714748784 	 0.002887089256868654
             deliver 	 0.0008103727714748784 	 0.005206538917265306
               shock 	 0.0008103727714748784 	 0.003987675548726996
                food 	 0.0008103727714748784 	 0.003825057481091542
            supplies 	 0.0008103727714748784 	 0.003987675548726996
                   . 	 0.0008103727714748784 	 3.2834806236711207e-05

In [38]:
# sort descending by value for DF dictionary 
sorted_DF = sorted(DF.items(), key=lambda kv: kv[1], reverse=True)[:50]

# Create a list of unique words from sorted dictionay `sorted_DF`
unique_term = [item[0] for item in sorted_DF]

def calc_TF_IDF_Vec(__TF_IDF_Dict):
    TF_IDF_vector = [0.0] * len(unique_term)

    # For each unique word, if it is in the review, store its TF-IDF value.
    for i, term in enumerate(unique_term):
        if term in __TF_IDF_Dict:
            TF_IDF_vector[i] = __TF_IDF_Dict[term]
    return TF_IDF_vector

dataset["TF_IDF_Vec"] = dataset["TF-IDF_dict"].apply(calc_TF_IDF_Vec)

print("print first row matrix TF_IDF_Vec Series\n")
print(dataset["TF_IDF_Vec"][0])

print("\nmatrix size : ", len(dataset["TF_IDF_Vec"][0]))

print first row matrix TF_IDF_Vec Series

[5.255762080965065e-06, 3.2834806236711207e-05, 0.0, 0.0, 0.0, 0.0018490553464455876, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0024777740631433663, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0028642603452262746, 0.0, 0.0, 0.0, 0.0029597085102638625, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

matrix size :  50

In [39]:
# Convert Series to List
TF_IDF_Vec_List = np.array(dataset["TF_IDF_Vec"].to_list())

# Sum element vector in axis=0 
sums = TF_IDF_Vec_List.sum(axis=0)

data = []

for col, term in enumerate(unique_term):
    data.append((term, sums[col]))
    
ranking = pd.DataFrame(data, columns=['term', 'rank'])
ranking.sort_values('rank', ascending=False)

          term      rank
2            ,  0.468584
3           's  0.393097
4      ukraine  0.265717
5         says  0.234830
6           ``  0.231619
7           ''  0.231619
8       russia  0.210479
9      russian  0.201166
10           -  0.191553
12     england  0.168746
11         war  0.166466
13          uk  0.160451
14       world  0.157374
15      people  0.149467
16         bbc  0.149467
17   ukrainian  0.141233
18       first  0.139545
22           ?  0.128805
19       women  0.126294
20         say  0.124465
21         one  0.119953
23         cup  0.118071
26        city  0.109176
24        west  0.108376
25         two  0.108376
27         new  0.107177
28          us  0.102314
29       years  0.102314
30     country  0.100249
36           '  0.098519
31       could  0.098161
32       since  0.098161
33      league  0.098161
34   president  0.091751
37        many  0.089563
35    invasion  0.089563
38  government  0.085105
41         day  0.083630
39         may  0.082834
40      family  0.082834
42        time  0.080532
44         win  0.078199
43       covid  0.078199
48        kyiv  0.075834
46      living  0.075834
47      forces  0.075834
49        help  0.075834
45        home  0.075834
1            .  0.039796
0               0.005368

Cosine Simlarity

In [40]:
import numpy as np
from numpy import dot
from numpy.linalg import norm

#define arrays
texts = np.random.randint(10, size=100)
target = np.random.randint(10, size=100)

#calculate Cosine Similarity
cos_sim = dot(texts, target)/(norm(texts)*norm(target))

cos_sim

0.7524441049961827

Example

In [41]:
import numpy as np
from numpy import dot
from numpy.linalg import norm

#define arrays
dataset.stemming_removed[1] = np.random.randint(10, size=100)
dataset.stemming_removed[2] = np.random.randint(10, size=100)

#calculate Cosine Similarity
cos_sim = dot(dataset.stemming_removed[1], dataset.stemming_removed[2])/(norm(dataset.stemming_removed[1])*norm(dataset.stemming_removed[2]))

cos_sim

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

0.6772689631746486

Evaluation

In [42]:
# Create a Multinomial Naive Bayes model
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

# Train the model
nb.fit(x_train_dtm, y_train)

MultinomialNB()

In [43]:
# Make class anf probability predictions
y_pred_class = nb.predict(x_test_dtm)
y_pred_prob = nb.predict_proba(x_test_dtm)[:, 1]

In [44]:
# calculate accuracy of class predictions
from sklearn.metrics import plot_confusion_matrix
from sklearn import metrics
print(metrics.accuracy_score(y_test, y_pred_class))

0.05825242718446602